.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    border-bottom: 0.1px solid rgb(138, 157, 177);
    padding:10px 0px;
    width:100%;
    background-color: white;
    z-index: 999;
}
.header__container{
    display:flex;
    width:100%;
    max-width: 1250px;
}

.header__left{
    display: flex;
    margin-right: auto;
    padding-left: 10px;
}

.header__search{
    display: flex;
    text-align:center;
    height:20px;
    background-color: #eef3f8;
    padding:10px;
    margin-left: 5px;
    border-radius:10px;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
}

.header__left > img {
    object-fit: contain;
    height: 40px;
}
.header__right {
    display: flex;
    margin-left: auto;
}

.header__search > svg {
    color: gray;
}