.inputOption{
    display:flex;
    align-items: center;
    margin-top:5px;
    color: gray;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}

.inputOption:hover{
    background-color: rgba(221, 221, 221, 0.623);
}

.inputOption > h4 {
    margin-left: 5px;
    font-weight: 600;
}
